.profile{
  max-width: 880px;
  margin: 0 auto 46px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .profile {
    margin: 0px 40px 46px;
  }
}
@media screen and (max-width: 870px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 510px) {
  .profile {
    margin: 0px 19px 46px;
  }
}